<br><br>
<div class="container">
  <h1>Impossible is just an opinion</h1>
  <p>-Paulo Coehlo</p>
  <div class="row">
    <div class="col-sm-6">
      <p>We know the very best thing for a child is to be part of a loving family—it’s where they thrive. That’s why
        everything we do is designed to accomplish just that.</p>
      <p>Our goal is a loving family and the end of institutionalized care for every child. Period. We believe that,
        together, we can change the way we care for children and help to get them into stable, loving, nurturing
        environments. We believe in them, in you and in Miracles. We believe in a world that listens closely to children
        and gives them a voice.</p>
      <p>Save society is an Austin, TX-based international non-profit that brings life-changing care to orphaned
        and vulnerable children. And that’s just the beginning. By 2040, we fully intend to be out of business. Why?
        Because we know that together we can achieve miracles. We can transition every institutionalized child into a
        loving family in our lifetime.</p>
      <p>These children deserve the very best. A way out of their past of abandonment and a way forward into their
        bright future. We believe in partnerships, and with generous gifts from people like you, we can make their dream
        of living with a family a reality. Sound impossible? Thankfully, that’s just an opinion. </p>

    </div>
    <div class="col-sm-6">
      <img src="../../assets/images/about1.jpg">
    </div>
  </div>
</div>

<br><br>
<div class="container">
  <h2 class="text-center">Why We’re Different</h2><br>
    <div class="card-columns">
        <div class="card ">
          <div class="card-body text-center">
            <h4 class="card-text"><b>Proven, Sustainable Model</b></h4>
            <p>The Miracle Foundation model is all about finding a loving family for every orphaned child. That is our ultimate goal. We explore every avenue to reunite kids with their kin and allocate resources to more effectively facilitate family-based care options, including adoption. While children are in transition to a family, we guarantee that they receive a quality education, a safe and loving environment and personalized care so they are healthy and known.
              </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h4 class="card-text"><b>Local Empowerment</b></h4>
            <p>As the saying goes, “Give a man a fish and you feed him for a day; teach a man to fish and you feed him for a lifetime.” Instead of “giving fish” to help orphaned children short term, we teach leaders how to prevent children from entering the system, reunify children with their families, and strengthen community and family involvement with any child waiting for a permanent home. This is a lifetime solution. And it’s a win-win for all.
              </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h4 class="card-text"><b>Focus on Education</b></h4>
            <p>Education liberates. Each child is given a quality education through secondary school, with the opportunity for college scholarships or vocational training after that. In fact, we’re sending hundreds of kids to college, and they’re studying things like engineering, social work, nursing, accounting, and natural sciences! Our goal is to have each child become a healthy, happy, self-sustaining person—and break the cycle of poverty.</p>
          </div>
        </div>
     </div>
