
<br>  <br>
<div class="container"> 
    <h3>ORPHAN</h3>

    <ul>
<li><b>Orphans</b><br>
  There are currently 14 million orphans living in the world today, more than 130 million children have lost one of their parents.
</li>
<br>
<li><b> Street Children  
  </b><br>
  As many as 100 million more children are living on the streets.
  </li>
  <br>
  <li><b> Child Trafficking  
    </b><br>
    Every year, 1.2 million children are victims of human trafficking.
    </li><br>
    <li><b>Child Labour   
      </b><br>
      5.7 million children are currently working in child labour (both paid and unpaid).
      </li><br>
      <li><b>Child Prostitution   
        </b><br>
        2 million children world wide are currently working in the commercial sex industry.
        </li><br>
        <li><b> Children living with HIV AIDS
              
          </b><br>
          There are currently 2.3 million children under the age of 15 living with HIV AIDS.
          </li><br>
                              
          <li><b>Children Affected by War
            </b><br>
            Over the past 10 years, more that 1 million children have been separated from their families as a result of armed conflict.
            </li><br>

            <li><b>Children without access to Education
             </b><br>
             in 2006 it was estimated that 93 million children of primary school age were not attending school.
              </li>



    </ul>
<br> <br>
<h3>OLD AGE</h3>
<ul>
<li>Only 3.6% of people over 65 years old are in nursing homes. Elderly men are likely to live with a spouse while elderly women are more likely to live alone. </li><br>
<li>4 in 5 older adults will battle at least one chronic condition or illness such as heart disorders, arthritis, or osteoporosis. 50% will battle at least two.</li><br>
<li>By age 75, about 1 in 3 men and 1 in 2 women don't get ANY physical activity. You can keep seniors fit by hosting a dance class at your local senior center! Sign up for Dancing With the Seniors.</li><br>
<li>While fatal crash rates increase starting at age 75, older drivers' crash rates have fallen faster than the crash rates of middle-aged drivers. One of the reasons is that older drivers tend to limit their driving during bad weather and at night.</li><br>
<li>The ratio of women to men over 65 years old is 100 to 76. The ratio of women to men over 85 years old is 100 to 49.</li><br>
<li>99% of people over 65 years old have health insurance, with 93% having government-sponsored Medicare.</li>



</ul>


</div>

