
<br> <br>
<div class="container">
<h2>Contributing to the Creation of Orphans</h2>
<br>
<h4>AIDS Orphans</h4>
<p>
One of the major causes of children being orphaned is the HIV/AIDS epidemic.</p>
<p>
A child becomes an orphan when one parent dies from the virus. The child may or may not have also contracted the virus.</p>

<p>In 2008, about 430,000 children became infected with the HIV virus. In most cases, the virus is transmitted from mother to child. This can be avoided when adequate health care is made available. However, poorer countries usually do not have access to medical treatment.</p>
<p>While the flood of AIDS infections continues unchecked, the number of AIDS 
</p>
<br>
<h4>Other Significant Factors</h4>
<p>Children can also lose a parent due to natural disasters, famine, and war. The latter factor also contributes to the displacement of children across borders.</p>
<p>Extreme poverty, illness, abuse and incest can also tear nuclear families apart and, in the end, lead to abandonment</p>
<br>
<h4>Key Figures</h4>
<ul>
<li>Over 153 million children worldwide are orphans.</li>
<li>Over 71 million orphans live in Asia, 59 million in Africa, and almost 9 million in Latin America and the Caribbean islands.</li>
<li></li>
<li>31 million orphans are found in India.</li>
<li>In 2007, there were a reported 15 million AIDS orphans. HIV takes the life of a father or mother every 15 seconds.</li>

</ul>
<br>
<h4>Effects of Becoming an Orphan</h4>
<p>An orphaned child is alone in an adult world. Orphans experience serious violations of many of their rights:</p>
<h5>Nutrition</h5>
<p>Orphans do not have the means to properly feed themselves.</p>
<h5>Shelter</h5>
<p>These children usually live homeless in the streets.</p>
<h5>Education</h5>
<p>In most cases, education is sacrificed first. Orphans must meet not only their own needs but often those of younger siblings in their care.</p>
<h5>Health Care</h5>
<p>Orphans are rarely primarily concerned with their own health, above simple food and shelter. Yet their living conditions and daily activities are highly dangerous to their health, with the risk of street fights, drugs, pregnancy, sexually transmitted diseases, malnutrition, and poor working conditions.</p>
<h5>Child Labor</h5>
<p>Some orphans look for a job to escape their dire situations. All too often, they are exploited through all kinds of degrading and dangerous work. The International Labour Organization reports that more orphans work in commercial agriculture, as street vendors and housekeepers, and in the sex industry, than other children.</p>
<br> <h3>Solutions to the Orphan Problem</h3>
<h4>Guaranteed Judicial Protections by the CRC</h4>
<p>In the absence of a temporary or permanent family, the Convention on the Rights of the Child (CRC) advocates for States to provide assistance and special protection to orphans.</p>
<p> Article 20 of the CRC lists four options for the care of orphans:</p>
<ol>
<li>Foster home</li>
    <li>Kafalah (Adoption is forbidden by Islamic law; instead, a family volunteers to manage the care, education, and protection of the child. This system does not create familial bonds between the family and the orphaned child.)</li>
    <li>Adoption</li>
    <li>Placement in a suitable children’s home</li>

</ol>
<p>However, many governments do not sufficiently fulfill the needs of orphans.</p>

<h4>International Adoption</h4>
<p>International adoption provides another alternative to maintain the proper balance of children in the world. The Hague Convention of 1993 proposed guidelines based on the protection of children and international cooperation, allowing an orphan to be legally placed with a family.</p>
<p>Many conditions must be met in order to protect the interests of the child. This transparent process helps to avoid the spread of child trafficking.</p>
    <p>Still, it is difficult to rely on international adoption in many situations, especially when children have been separated from their family because of war or natural disasters. The primary objective in such cases is to find the child’s family, before considering international adoption.
    </p>
</div>